[submodule "monolith"]
	path = monolith
	url = /Users/chiyomori/WORK/PROJECT/TRAINING/laravel-microservices/monolith
[submodule "rabbitmq"]
	path = rabbitmq
	url = /Users/chiyomori/WORK/PROJECT/TRAINING/laravel-microservices/rabbitmq
[submodule "mailhog"]
	path = mailhog
	url = /Users/chiyomori/WORK/PROJECT/TRAINING/laravel-microservices/mailhog
[submodule "order-service"]
	path = order-service
	url = /Users/chiyomori/WORK/PROJECT/TRAINING/laravel-microservices/order-service
[submodule "delivery-service"]
	path = delivery-service
	url = /Users/chiyomori/WORK/PROJECT/TRAINING/laravel-microservices/delivery-service
