[submodule "monolith"]
	path = monolith
	url = https://github.com/raviMukti/laravel-monolith.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/raviMukti/rabbitmq-laravel.git
[submodule "mailhog"]
	path = mailhog
	url = https://github.com/raviMukti/laravel-mailhog.git
[submodule "order-service"]
	path = order-service
	url = https://github.com/raviMukti/laravel-order-service.git
[submodule "delivery-service"]
	path = delivery-service
	url = https://github.com/raviMukti/laravel-delivery-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/raviMukti/laravel-notification-service.git
